@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@500;600;700&family=Roboto&display=swap');
body{
      background: #f2f2f2;
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  }

.navbar{
  background:#f2f2f2;
  padding: 1em;
}

.hog{
  text-decoration: none;
  font-weight: bold;
  color: burlywood;
  font-size: 1.3em;
  font-family: 'Quicksand' sans-serif;
}

span{
  color:black;
}

nav{
  display: none;
}

.v-container{
  display: flex;
  place-content: space-between;
}

#mobile-menu{
  cursor: pointer;
  color: black;
  font-size: 1.8em;
  line-height: 1.3em;
  
}


a{
  color: blue;
}

ul{
  list-style-type: none;
  margin: 0;
  padding:0;
}

section{
  padding: 4em 2em;
}

.grid{
  text-align: center;
}
.left-col{
  display: flex;

}

.text{
  text-transform: uppercase;
  font-weight: bold;
  color: burlywood;
  padding: 1em;
  letter-spacing: .2em;
 }

 img{
    margin-left:.4em;
 }
 .hero{
  width: 70%;
  margin: 0 0 0 3em;

 }

 
 







 
  /* Media Queries */
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }
