@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@500;600;700&family=Roboto&display=swap');

body{
      background: rgb(103, 97, 97);
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  }

.navbar{
  background:#f2f2f2;
  padding: 1em;
}

.hog{
  text-decoration: none;
  font-weight: bold;
  color: burlywood;
  font-size: 1.3em;
  font-family: 'Quicksand' sans-serif;
  
}


span{
  color:black;
}

nav{
  display: none;
}

.v-container{
  display: flex;
  place-content: space-between;
}

#mobile-menu{
  position: absolute;
  float: right;
  padding-left: 90%;
  cursor: pointer;
  color: black;
  font-size: 1.8em;
  line-height: 1.3em;
  
  
}


a{
  color: blue;
}

ul{
  list-style-type: none;
  margin: 0;
  padding:0;
}

section{
  padding: 4em 2em;
}

.grid{
  text-align: center;
  display: flex;
}
.left-col{
  display: flex;
}

.text{
  text-transform: uppercase;
  font-weight: bold;
  color: burlywood;
  padding: 1em;
  letter-spacing: .2em;
 }

 img{
    margin-left:.4em;
   
 }
  .hero{
    width: 70%;
    margin: 0 0 0 3em;
  }

 
 nav.menu-btn {
  display: block;
 }

 nav{
  position: fixed;
  z-index:999;
  width: 66%;
  top: 0;
  background: #20272E;
  height:100vh;
  padding: 1em;
  
 }
 ul.primary{
  margin-top: 5em;

 }
li a{
  color: white;
  text-decoration: none;
  display: block;
  font-size: 1.3em;
  text-align: right;

 }
 li a:hover{
  font-weight: bold;
}

.mobile-menu-exit{
  float: right;
  margin: .5em;
  cursor: pointer;
}

@media only screen and (min-width: 768px){
  #mobile-menu, #mobile-exit{
    display: none;
  }
  .navbar .v-container{
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: unset;
  }
  .navbar nav{
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }

  .navbar ul{
    display: flex;
  }

  .navbar a{
    color: black;
    font-size: 1em;
    padding: .1em 1em;
  }

  ul.primary{
    margin: 0;

  }
  
}
 
