<nav id="first">
    <ul>
        <li class="logotype">
            <a href="#">NelsonAkonoafua</a>
        </li>
        <li class="burger">
            <i class="material-icons">{{ isMenuOpen ? "close" : "menu"}}</i>
        </li>
        <li class="menu" [class.is-open]="isMenuOpen">
            <a class="menu-item" href="#" >Home</a>
            <a class="menu-item" href="#" >About</a>
            <a class="menu-item" href="#" >Experience</a>
            <a class="menu-item" href="#" >Skills</a>
            <a class="menu-item" href="#" >Contact</a>

        </li>
    </ul>
</nav>

  