@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@500;600;700&family=Roboto&display=swap');
#first{
  background: #fff;
  height: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logotype{
  padding: 0 10px;
  color: cyan;
  text-decoration: none;
}

.logotype:hover{
  font-weight: bold;
}

.burger{
  padding: 0 10px;
  border-left: 1px solid #eee;
  display: none;
  cursor: pointer;
}

i{
  color: #999;
  line-height: 50px;
}
@media (max-width: 400px){
  i{
    display:block;
  }
}

.menu{
  display: flex;
  align-items: center;
}




@media (max-width: 400px){
  .menu{
  display: none;
  }
  .menuIsOpen {
    display: block;
    position: absolute;
    top: 52px;
    background: #fff;
    width: 100%;
  }
  .menuIsOpen .menu-item{
    border-bottom: 1px solid #cccccc;
  }
}
.menu-item{
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
  display: block;
  color: #000;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 500;
}
@media (max-width: 400px){
  .menu-item{
    height: 40px

  }
}