@import url(https://fonts.googleapis.com/css?family=Merriweather);
body{
     background: #f2f2f2;
     margin: 0;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contact-section{
     padding: 20px;
} 
.container{
     margin: 0;
     padding: 0;
     text-align: center;
}
.contact-left{
     background: #f2f2f2;
     color: black;
     text-decoration: none;
     padding: 0.5em, 3em, 0.2em, 0.1em;
     font-size: 1.3em;
     font-weight: bold;

}
.info{
     display: inline-flex;
}

.info .icon{
     cursor: pointer;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     position: relative;
     z-index: 2;


}
.info .icon span{
     position: relative;
     height: 50px;
     width: 50px;
     display: block;
     background: #fff;
     text-align: center;
     border-radius: 50%;
     box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

}

.info .icon span i{
     font-size: 25px;
     line-height: 50px;
}

.info .icon .tooltip{
     position: absolute;
     top: 0;
     background: #fff;
     font-size: 20px;
     padding: 10px 20px;
     border-radius: 25px;
     box-shadow: 0 10px rgba(0, 0, 0, 0.1);
     opacity: 0;
     pointer-events: none;
     transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.info .icon:hover .tooltip{
     top: -70;
     opacity: 1;
     pointer-events: auto;
}
.info .icon .tooltip::before{
     position: absolute;
     content: "";
     height: 15px;
     width: 15px;
     background: #fff;
     bottom: -8px;
     left: 50%;
     transform: translateX(-50%) rotate(45deg);

}
a{
     font-size: 1.2em;
     color: rgb(40, 40, 47);
}
a:hover{
     transition: .3s;
     cursor: pointer;
     font-size: 1.5em;
}
.contact-right{
     color: darkgrey;
}
h2{
     padding-top: 1.2em;
     font-size: 2em;
     text-transform: uppercase;
}
span{
     color: rgb(143, 143, 230);
     font-weight: 100;
}

label{
     display: block;
     font-size: 1.3em;
     margin-bottom: .7em;
}
input, textarea{
     width: 100%;
     padding: .8em;
     margin-bottom: 1.1em;
     border-radius: .3em;
     border: 1px solid grey;
     box-sizing: border-box;
}
input[type="submit"]{
   
     background-color: rgb(143, 143, 230) ;
     font-weight: bold;
     color: white;
     font-size: 1.2em;
     border: none;
     margin-bottom: 5em;
     border-radius: 5em;
     padding: .8em, 2em;
     width: unset;
     word-spacing: .2;
     cursor: pointer;
}
iframe{
     width:100%;
     height: 250px;
}