<body>   
    <section class="contact-section">
        <div class="container">
            <div class="contact-left">
                <h3>Hi, you can contact me on the following channels:</h3>
        </div>    
            <div class="info">
                <div class="icon">
                <div class="tooltip"> Facebook</div>
                <a href="https://web.facebook.com/nelson.osat"><span><i class='bx bxl-facebook-square'></i></span></a>
                </div>
                <div class="icon">
                <div class="tooltip"> Gmail</div>
                <a href="www.nelsonosat75@gmail.com"><span><i class='bx bx-envelope'></i></span></a>
                </div>
                <div class="icon">
                <div class="tooltip"> Linkedin</div>
                <a href="https://www.linkedin.com/in/nelson-akonoafua/"><span><i class='bx bxl-linkedin-square' ></i></span></a>
                </div>
                <div class="icon">
                <div class="tooltip"> Github</div>
                <a href="https://github.com/NelsonAkonoafua"><span><i class='bx bxl-github'></i></span></a>
                </div>
            </div>

<br>
            <div class="contact-right">
               <span class="true"> <h2>Contact Me</h2></span>
                <form action="">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name">

                    <label for="message">Message</label>
                    <textarea name="text" id="message" cols="30" rows="10"></textarea>

                    <input type="submit" class="send-message-cta" value="Send message">
                </form>
            </div>
        </div>
    </section>
</body>