@import url(https://fonts.googleapis.com/css?family=Merriweather);
body{
     background: #f2f2f2;
     margin: 0;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contact-section{
     padding: 20px;
} 
.container{
     margin: 0;
     padding: 0;
     text-align: center;
}
.contact-left{
     background: #f2f2f2;
     color: black;
     text-decoration: none;
     padding: 0.5em, 3em, 0.2em, 0.1em;
     display:flex ;
     font-size: 1.3em;
     font-weight: bold;

}
a{
     
     font-size: 1.2em;
     color: rgb(40, 40, 47);
     display: block;

}
.contact-right{
     color: darkgrey;
}
h2{
     
     font-size: 2em;
}
span{
     color: rgb(143, 143, 230);
     font-weight: 100;
}

label{
     display: block;
     font-size: 1.3em;
     margin-bottom: .7em;
}
input, textarea{
     width: 100%;
     padding: .8em;
     margin-bottom: 1.1em;
     border-radius: .3em;
     border: 1px solid grey;
}
input[type="submit"]{
     padding: .4em .2em;
     background-color: rgb(143, 143, 230) ;
     font-weight: bold;
     font-size: 1em;
     border: none;
     margin-bottom: 4.5em;
     border-radius: 1.2em;
     width: unset;
     word-spacing: .2;
     cursor: pointer;
}
iframe{
     width:100%;
     height: 250px;
}