<body>
    <div class="wrapper">
        <h1>Skills <a href="#"><i class='bx bxs-star-half'></i></a></h1>
        <div class="container">
            <div class="box">
                <img src="assets/images/HTML.png" alt="HTML">
                <h3>HTML</h3>
                <p>The HyperText Markup Language or HTML is the standard markup language for documents designed to be displayed in a web browser.</p>
            </div>
        </div>
        <div class="container">
            <div class="box">
                <img src="assets/images/css.jpg" alt="HTML">
                <h3>CSS</h3>
                <p>Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language such as HTML or XML.</p>
            </div>
        </div>
        <div class="container2">
            <div class="box">
                <img src="assets/images/javascript.png" alt="Javascript">
                <h3>JAVASCRIPT</h3>
                <p>JavaScript is a high-level, often just-in-time compiled language that conforms to the ECMAScript standard. It has dynamic typing, prototype-based object-orientation, and first-class functions. </p>
            </div>
        </div>
        <div class="container">
            <div class="box">
                <img src="assets/images/Bootstrap.png" alt="Bootstrap">
                <h3>BOOTSTRAP</h3>
                <p>Bootstrap is a free and open-source CSS framework directed at responsive, mobile-first front-end web development.</p>
            </div>
        </div>
        <div class="container">
            <div class="box">
                <img src="assets/images/react-1.png" alt="HTML">
                <h3>REACT</h3>
                <p>React (also known as React.js or ReactJS) is a free and open-source front-end JavaScript library for building user interfaces based on UI components.</p>
            </div>
        </div>
    </div>
    
        
</body>
