@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@500;600;700&family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .2s linear;
  font-family: "Quicksand", sans-serif;
}

body{
      background: rgb(103, 97, 97);
      
  }

.wrapper{
  margin: 10px auto;
  padding: 0 10%;
  padding-bottom: 40px;
  text-transform: capitalize;
}
h1{
  
  color: white;
  font-size: 45px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 15px;
  text-shadow: 0 12px 10px rgba(0, 0, 0, 0.3);
}
.container{
  display: grid;
  margin: 15px;
  grid-template-columns: repeat(5, minmax(170px));
}

i{
  color: white;
}
.box{
  
  padding: 20px;
  
  text-align: center;
  border-radius: 5px;
  background-color: bisque;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.box img{
  height: 70px;
}
.box h3{
  color: rgb(161, 161, 157);
  padding: 10px 0;
  font-size: 20px;
}
.box p{
  color: #444;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  line-height: 1.6;
}
 
/* Media Queries */
@media(max-width: 770px){
   
}