
    <div class="wrapper">
        <div class="header">
           <h1>Skills <a href="#"><i class='bx bxs-star-half'></i></a></h1>
        </div>
        <div class="container">
            <div class="box">
                    <div class="skill-title">
                    <img src="assets/images/HTML.png" alt="Html" class="skill-icon">
                    <h3>HTML</h3>
            </div>
                <p>The HyperText Markup Language or HTML is the standard markup language for documents designed to be displayed in a web browser.</p>
        </div>
            <div class="box">
                    <div class="skill-title">
                    <img src="assets/images/css.jpg" alt="Css"  class="skill-icon">
                    <h3>CSS</h3>
            </div>     
                <p>Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language such as HTML or XML.</p>
        </div>
            <div class="box">
                <div class="skill-title">
                <img src="assets/images/javascript.png" alt="Javascript"  class="skill-icon">
                <h3>JAVASCRIPT</h3>
               </div>
                <p>JavaScript is a high-level, often just-in-time compiled language that conforms to the ECMAScript standard. It has dynamic typing, prototype-based object-orientation, and first-class functions. </p>
        </div>
            <div class="box">
                <div class="skill-title">
                <img src="assets/images/Bootstrap.png" alt="Bootstrap"  class="skill-icon">
                <h3>BOOTSTRAP</h3>
               </div>
                <p>Bootstrap is a free and open-source CSS framework directed at responsive, mobile-first front-end web development.</p>
        </div>
            <div class="box">
                <div class="skill-title">
                <img src="assets/images/react-1.png" alt="React"  class="skill-icon">
                <h3>REACT</h3>
                </div>
                <p>React(also known as React.js or ReactJS) is a free and open-source front-end JavaScript library for building user interfaces based on UI components.</p>
        </div>
    </div>

