<body>
     <section class="bigsix">
        
        <a id="text" href="#">skills<i class='bx bxs-star'></i></a>
    </section>
        <div class="container 1">
            
            <div class="col-1">
                
                <a  href="#"><i class='bx bxl-html5'></i></a>
                <a href="#"><i class='bx bxl-css3'></i></a>
                
            </div>
            <div class="text-1">
                <h3> HTML & CSS </h3>
            </div>
        </div>
        <div class="container 2">
            
            <div class="col-2">
                
                <a href="#"><i class='bx bxl-javascript'></i></a>
                <a href="#"><i class='bx bxl-angular'></i></a>
                
            </div>
            <div class="text-1">
                <h3> JAVASCRIPT & ANGULAR </h3>
            </div>
        </div>
        <div class="container 3">
            
            <div class="col-3">
                
                <a href="#"><i class='bx bxl-github'></i></a>
                <a href="#"><i class='bx bxl-react'></i></a>
                
            </div>
            <div class="text-1">
                <h3> GITHUB & REACT </h3>
            </div>
        </div>


        
    <div class="Retro">
        
    </div>
        
</body>
